/* index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.poppins-500 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

/* body{
    background-color: #191919;
} */

/* #root{
  padding: 0rem 0rem !important;
  max-width: 100% !important;

} */

/* #root {
  @apply w-full h-full min-h-screen bg-white text-black;
  padding: 0rem 2rem !important;
} */

/* Tailwind-friendly Swiper button customization */
.swiper-button-next,
.swiper-button-prev {
  background: rgba(37, 37, 37, 0.3) !important;
  width: 52px !important;
  height: 60px !important;
  margin-top: -30px !important;
  border-radius: 8px !important;
  color: white !important;
}

.swiper-button-next {
  right: 0 !important;
  border-radius: 8px 0 0 8px !important;
}

.swiper-button-prev {
  left: 0 !important;
  border-radius: 0 8px 8px 0 !important;
}