@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* body{
    background-color: #191919;
} */

#root{
  padding: 0rem 2rem !important;

}

/* #root {
  @apply w-full h-full min-h-screen bg-white text-black;
  padding: 0rem 2rem !important;
} */

/* Tailwind-friendly Swiper button customization */
.swiper-button-next,
.swiper-button-prev {
  background: rgba(37, 37, 37, 0.3) !important;
  width: 52px !important;
  height: 60px !important;
  margin-top: -30px !important;
  border-radius: 8px !important;
  color: white !important;
}

.swiper-button-next {
  right: 0 !important;
  border-radius: 8px 0 0 8px !important;
}

.swiper-button-prev {
  left: 0 !important;
  border-radius: 0 8px 8px 0 !important;
}